.dareto {
  position: absolute;
  width: 300px;
  margin-top: 120px;
  background-color: #02a193;
  color: white;
  text-align: center;
  font-weight: bolder;
}

.dream {
  position: absolute;
  width: 300px;
  margin-top: 180px;
  background-color: #404040;
  color: white;
  text-align: center;
  font-weight: bolder;
  text-transform: uppercase;
}
