#strip {
  float: left;
  position: absolute;
  width: 12px;
  height: 30px;
  background-color: #02a193;
}

#maincontent-title {
  font-weight: bold;
  margin-left: 30px;
}
/*# sourceMappingURL=MainContent.css.map */