#cardheader {
  margin-top: 20px;

  h3 {
    text-align: center;
  }
}

#cardcontent {
  .row {
    margin-top: 40px;
    .col-md-4 {
      margin-top: 20px;
    }
  }
  p {
    margin-top: 20px;
    text-align: justify;
  }
}
