#cardheader {
  margin-top: 20px;
}

#cardheader h3 {
  text-align: center;
}

#cardcontent .row {
  margin-top: 40px;
}

#cardcontent .row .col-md-4 {
  margin-top: 20px;
}

#cardcontent p {
  margin-top: 20px;
  text-align: justify;
}
/*# sourceMappingURL=Card.css.map */