#subheader {
  width: 100%;
  background-color: #02a193;
  height: 50px;
}

#subheader h6 {
  text-align: center;
  color: white;
  font-weight: lighter;
  padding: 10px;
}
/*# sourceMappingURL=SubHeader.css.map */